{% extends "base.html"%}
{% block content %}

<h2>Brands</h2>

{% for brand in brands %}

<section>
   <div>
      <table id="bdlst">
      <tr>
         <th>BRAND</th>
         <th>DISTRIBUTOR</th>
       <th>CONTACT</th>
      </tr>
          <td>{{brand.name}}</td>
          <td>{{brand.distributor}}</td>
          <td>{{brand.contact}}</td>
   
         <a href="/brands/{{ brand.id }}/edit"></a>
         <form action="/brands/{{ brand.id }}/delete" method="POST">
          <input type="submit" value="Delete">
         </form>
      </div>
    
</section>

{% endfor %}
{% endblock %}