{% extends "base.html" %}
{% block content %}

<h2>Add New Product</h2>

<form action="/products" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="brand">Brand:</label>
        <select name="brand_id" id="brand">
            {% for brand in brands %}
            <option value="{{ brand.id }}">
                {{ brand.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="stock">Stock:</label>
           <input type="number" id="stock" name ="qty">
    </div>
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category">
    </div>
    <div>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size">
    </div>
    <div>
        <label for="cost_price">Cost Price:</label>
        <input type="text" id="cost_price" name="cost_price">
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="text" id="selling_price" name="selling_price">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}