<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  <title>Ride On</title>
</head>
<body>
  <header>
    <h1>RIDE ON </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          Brands
          <ul>
            <li><a href="/brands">All Brands</a></li>
            <li><a href="/brands/new">Add a Brand</a></li>
          </ul>
        </li>
        <li>
          Products
          <ul>
            <li><a href="/products">Product Inventory</a></li>
            <li><a href="/products/new">Add Product</a></li>
          </ul>
        </li>
        </li>
      </ul>
    </nav>
  </header>
  <div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>